div {
  display: block;
}

td {
  text-align: right;
}

td:nth-child(1) {
  width: 100px;
}

td:nth-child(3) {
  color: red;
}
ul {
  color: red;
}

.button {
  background-color: navy;
  color: white;
}
